
.file {
    height: 57px;
    width: 100%;
    border-bottom: 1px solid var(--file-border-color);
    padding: 8px;

    display: grid;
    grid-template-columns: 40px 5fr 3fr 2fr 3fr;
    grid-column-gap: 15px;

    font-size: 14px;
    color: var(--fileContainer-text-color);
    font-family: 'Montserrat', sans-serif;

    transition: 0.1s ease;
    animation: file-enter 400ms forwards;
}

.file:hover .file__download {
    visibility: visible;
}
.file:hover {
    background-color: var(--file-bg-color-hover);
}

@keyframes file-enter {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.file__image {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.file__img, .file__name, .file__type, .file__date, .file__size, .file__settings {
    display: flex;
    align-items: center;
    height: 40px;
}
.file__img {
    padding: 4px;
}
.file__name {

}
.file__name__text {
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file__type {

}
.file__date {

}
.file__size {
     justify-content: space-between;
}

.file__download {
    visibility: hidden;
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
}

.file__functional {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

.file__settings {
    width: 30px;
    height: 100%;
    cursor: pointer;
}

.sideDots {
    width: 5px;
    height: 20px;
    margin: 0 auto;
    user-select:none;
}

@media screen and (max-width: 1440px) {
    .file__name__text {
        max-width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .file {
        grid-template-columns: 40px 6fr 5fr 4fr;
    }
    .file__name__text {
        max-width: 220px;
    }
    .file__type {
        display: none;
    }
    .file__functional {
        width: 65px;
    }
}

@media screen and (max-width: 768px) {
    .file {
        grid-template-columns: 40px 6fr 6fr;
        grid-column-gap: 10px;
    }
    .file__date {
        display: none;
    }
    .file__name__text {
        max-width: 110px;
    }
    .file__functional {
        width: 30px;
    }
    .file__download {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .file {
        grid-template-columns: 40px 6fr 6fr;
        grid-column-gap: 6px;
        font-size: 12px;
    }
    .file__image {
        width: 26px;
        height: 26px;
    }

    .file__name__text {
        max-width: 90px;
    }
    .file__functional, .file__settings {
        width: 20px;
    }

    .file__download {
        display: none;
    }
}
