.blur__window {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-blur-bg);
    right: 0;
    top: 0;
}
.window {
    width: 260px;
    border-radius: 15px;
    display: block;
    position: fixed;
    background-color: var(--infoModal-bg-color);
    right: 40px;
    top: 135px;
}

.inactive {
    display: none;
}

.file__body {
    font-size: 16px;
    color: var(--infoModal-text-color);
    margin: 5px 0;
}
.file_share {
    color: var(--infoModal-text-color);
}
.chevron {
    height: 18px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 20px;
}

.size, .create, .type, .change, .name {
    color: var(--infoModal-second-text-color);
    margin: 20px;
    font-size: 12px;
    display: block;
}
.file__title {
    color: var(--infoModal-second-text-color);
    font-size: 12px;
    display: block;
    line-height: 6px;
    padding: 0;
    font-weight: 400;
}

.file__name {
    font-size: 22px;
    font-weight: 500;
    color: var(--infoModal-text-color);
    line-height: 30px;
    letter-spacing: 1px;
    text-align: start;
}

.fileWindow {
    width: 100%;
    height: 160px;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fileWindow img {
    height: 80px;
    width: 80px;
}

