.header {
    width: 100vw;
    height: 60px;

    display: flex;
    justify-content: space-between;

    padding: 0 40px;
    background-color: var(--header-bg-color);
}

.logo {
    margin-top: 2px;
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img {
    cursor: pointer;
}

.search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    height: 100%;
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.profile {
    display: flex;
    justify-content: space-between;
}
.avatar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}
.profile__ui {
    display: block;
    position: absolute;
    top: 80px;
    right: 40px;
    width: 300px;
    height: 280px;
    background-color: var(--userMenu-body-bg-color);
    border-radius: 10px;
    border: 1px solid var(--userMenu-border-color);
    outline: none;
    z-index: 5;
    animation: profile__ui__wake var(--main-anim-delay) ease;
}

.ui__userData {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--userMenu-header-bg-color);
    border-radius: 10px 10px 0 0;
}
.userData__avatar {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui__avatar {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 30px;
    -webkit-user-drag: none;

}
.userData__info {
    color: var(--userMenu-text-color);
    padding: 20px 10px;
    text-align: start;
}
.ui__elem {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.ui__elem:hover {
    background-color: var(--header-bg-color-hover);
}
.ui__elem__img {
    user-select: none;
    -webkit-user-drag: none;
    height: 26px;
    width: 26px;
    margin-left: 37px;
    margin-right: 13px;
}
.ui__elem__name {
    color: var(--userMenu-text-color);
}
.ui__elem__action {
    margin-left: 5px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--ui-text-color);
    cursor: pointer;
}
.uploadInput {
    display: none;
}
.ui__elem__navLink {
    text-decoration: none;
    color: var(--userMenu-text-color);
}

@keyframes profile__ui__wake {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}