.container {
    height: 140px;
    width: 160px;

    border: 1px solid #353535;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.10);

    box-sizing: border-box;
    transition: 0.2s ease;
    animation: file-enter 400ms forwards;

}

@keyframes file-enter {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageBox {
    width: 65%;
    margin: 0 auto;
    height: 90px;

}
.icon {
    height: 100%;
    cursor: pointer;
}

.file_footer {
    height: 50px;
    width: 100%;
    display: flex;

    text-align: center;
    font-size: 14px;
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
}

.text {
    width: calc(100% - 30px);
    margin: 7px 2px 8px 15px;
    word-wrap: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sideWall {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sideWall img {
    width: 5px;
    height: 20px;
    margin: 0 0 0 40%;
}

