.container {
    width: 100%;
    transition: var(--main-anim-delay);
    display: grid;
    grid-template-columns: 160px 160px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.files {
    width: 340px;
    margin: 20px auto;
}

.oneMain, .groupMain {
    padding: 0 20px;
    height: calc(90% - 100px);
    min-height: 300px;
}
.oneMain {
    margin: 20px auto 0 auto;
    width: 100%;
    display: block;
}
.groupMain {
    margin: 20px 0 0 auto;
    width: 85%;

    display: grid;
    grid-template-columns: 9fr 2fr;
}
.person__path {

}

.list__files {
    width: calc(100% - 30px);
    height: 100%;
    padding: 25px;
    max-width: 1270px;
    margin: 0 auto;

    border-radius: 20px;
    background-color: var(--fileContainer-bg-color);
    animation: list__files__appear var(--fast-anim-delay);
}

.container__header {
    width: calc(100% - 5px);
}

.file__container {
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100% - 85px);
}
.nav__mobile {
    margin-bottom: 15px;
}
.list__header {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 3fr;
    grid-column-gap: 15px;
    padding-left: 63px;
    padding-right: 8px;

    width: 100%;
    height: 30px;

    margin-top: 15px;

    font-size: 14px;
    color: var(--path-text-color);
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid var(--file-border-color);
}

.list__name {
    position: relative;
    right: 55px;
}

.list__size {

}
.list__path {

}

@keyframes list__files__appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes file-enter {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes file__append__property  {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1440px) {  }

@media screen and (max-width: 1024px) {
    .list__header {
        grid-template-columns: 5fr 4fr 2fr 3fr;
    }
    .list__change {
        animation: file__append__property var(--main-anim-delay) ease;
    }
}

@media screen and (max-width: 870px) {
    .list__header {
        grid-template-columns: 5fr 2fr 3fr;
    }
    .list__change {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .list__header {
        grid-template-columns: 6fr 2fr 5fr;
        grid-column-gap: 10px;
    }
    .list__type {
        animation: file__append__property var(--main-anim-delay) ease;
    }
}

@media screen and (max-width: 540px) {
    .list__files {
        padding: 10px 5px 10px 10px;
    }
    .list__path {
        margin-left: 7px;
    }
    .list__header {
        grid-template-columns: 6fr 5fr;
        grid-column-gap: 10px;
    }
    .list__type {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .list__header {
        grid-template-columns: 6fr 7fr;
    }
}