.container {
    width: 100%;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 160px 160px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.files {
    width: 340px;
    margin: 20px auto;
}

.oneMain, .groupMain {
    padding: 0 20px;
}
.oneMain {
    margin: 20px auto 0 auto;
    width: 100%;
    display: block;
}
.groupMain {
    margin: 20px 0 0 auto;
    width: 85%;

    display: grid;
    grid-template-columns: 9fr 2fr;
}

.list__files {
    width: calc(100% - 30px);
    height: 85vh;
    padding: 25px;
    max-width: 1270px;
    margin: 0 auto;

    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: var(--fileContainer-bg-color);
}
.nav__mobile {
    margin-bottom: 15px;
}
.list__header {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 3fr;
    grid-column-gap: 15px;
    padding-left: 63px;
    padding-right: 8px;

    width: 100%;
    height: 30px;

    margin-top: 15px;

    font-size: 14px;
    color: var(--path-text-color);
    font-family: 'Montserrat', sans-serif;
}

.list__name {
    position: relative;
    right: 55px;
}
.list__change {
}
.list__type {

}
.list__size {
}


@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {
    .list__header {
        grid-template-columns: 6fr 5fr 4fr;
    }
    .list__type {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .list__header {
        grid-template-columns: 6fr 6fr;
        grid-column-gap: 10px;
    }
    .list__change {
        display: none;
    }
    .list__type {
        display: none;
    }
}

@media screen and (max-width: 425px) {


}