.query {
    width: 60%;
    height: 40px;
    min-width: 350px;

    border-radius: 8px;
    padding-left: 15px;

    display: flex;
    align-items: center;

    background-color: var(--query-bg-color);
    transition: var(--main-anim-delay);
}

.sideSettings {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.query_input {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    color: var(--query-text-color);
    font-size: var(--query-text-size);
    outline: none;
}
.query_focus {
   background-color: var(--query-bg-focus-color);
}

