.mobilePage {
    height: 100%;
    width: 100%;
}

.selectFormat {
    width: calc(100% - 20px);
    height: 40px;

    max-width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto 0 auto;
}

.sort {
    display: flex;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    color: #C5C5C5;
    font-size: 14px;
}

.filter {
    outline: none;
    background: transparent;
}

.selectWrapper {
    position: relative;
    width: 115px;
    margin: 20px 0;
    display: flex;

}

.selectWrapper img {
    width: 15px;
    margin-left: 5px;
    transition: 0.2s;
}

.active {
    width: 115px;
    height: 28px;
    color: #C5C5C5;

    transition: 0.2s;
    outline: none;
    border: none;
    background: #313131;
    font-family: 'Montserrat', sans-serif;

    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
}

.active option {
    background: #313131;
    color: #C5C5C5;
    margin: 5px;
    border-radius: 5px !important;
}

.active:focus {
    color: #5F6368;
}

.active:focus + .activeImg {
    transform: rotate(90deg);
}

.activeImg {
    transform: rotate(180deg);
}

/*.UploadMenu {*/
/*    animation: wake-upload 500ms forwards;*/
/*}*/


/*@keyframes wake-upload {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform:translateX(-20%);*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        transform:translateX(0);*/
/*    }*/
/*}*/